* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;    
}
header {
    height: 120px;  
}
main {
    min-height: calc(100% - 240px);  
} 
footer {
    height: 120px;  
}


/* ЗАГОЛОВОК ГЛАВНЫЙ*/
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;

    background-image: url(photo/navigation-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;

    z-index: 100;
    width: 100%;
}

.heading_fixed {
    position: fixed;
    left: 0;
    top: 0;
}
.logo {
    width: 80px;
    height: 110px;
    margin: 5px;
}
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    color: rgb(56, 55, 55);
    padding: 15px;

}
.headingChanged {
    text-align: center;
    font-size: 50px;
}

/*КОНТЕЙНЕРЫ*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
     
    background-image: url(photo/waves.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(240, 240, 240);
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-image: url(photo/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 550px;
    height: 475px;
    padding: 10px;
    margin: 3px;
    margin-right: -3px;
} 
.countries {
    background-color: rgb(65, 64, 64);
    width: 330px;
    height: 475px;
    text-align: center;
    margin: 3px;
}
.countdown-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 330px;
    height: 475px;
    margin: 3px;
    background-color: rgb(65, 64, 64);
}


/*ДРУГИЕ ЗАГОЛОВКИ*/
h3, h4, h5 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 30px;
}
h5 {
    position: relative;
}

h5:after {
    position: absolute;
    background-image: url(photo/down.png);
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    right: 15px ;
}

/*СЕКЦИИЯ MAIN-INFO*/
.dates, .introduction, .countries  {
    border-bottom: 2px solid gray;
    margin-left: 10px;
}
.hymn {
    display: flex;
    justify-content: flex-start;
    padding: 15px;
}
#myButton {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: -15px;
}
.push {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 18px;
    margin-top: 0px;
    margin-left: 10px;
}

.text {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    line-height: 110%;
    font-size:18px;
}
.text-dates {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(53, 181, 204);
    font-size:22px;
    font-weight: bold;
}
.photographer {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 10px;
    margin-left: 10px;
    margin-top: 20px;
}

/*COUNTRIES*/

.flag-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flags {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 13px;
}
.flag-photo {
    height: 40px;
    width: 40px;
}
.flag-country {
    font-size: 15px;
    color: white;
}



/*САМ СЧЕТЧИК*/
.count {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.time {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 14px;
    margin-top: 2px;
}
.hockey {
    background-color: rgb(122, 122, 122);
    margin: 2px;
    height: 90px ;
    width: 70px;
}
.days, .hours, .minutes, .seconds {
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}

/*ПОДВАЛ*/

.socials {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-top: 1px solid gray;

}
.nets {
    height: 40px;
    width: 40px;
    margin: 5px 10px 5px 10px;
}

.BBD {
    background-color: rgb(65, 64, 64);
    padding: 2px;
}
.txt {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 10px;
    margin-left: 10px;
}
.BBDlogo {
    position: relative;
    margin-left: 40px;
}
.BBDlogo:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(photo/BBD.ico);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: -30px;
    top: -8px;
}


/*МОДАЛЬНЫЕ ОКНА*/

/* "modal" — это затемненный фон */
.modal-can {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-rus {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-ger {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-fin {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-usa {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-cze {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-swe {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-sui {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-svk {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-den {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-kaz {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-ita {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-gbr {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-blr {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}

/* "modal-content" - область контента */
.modal-content {
    /* width: 100%; */
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 500px;
    padding: 50px;
    background: #f9f9f9;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 5px 15px black;
}

/* этот стиль через JavaScript прописан, срабатывает при нажатии на кнопку */
.modalStyle {
    position: fixed;
    top: 0;
    visibility: visible;
    opacity: 1;
    transition: .9s;
}

/* крестик закрытия окна */
.cross {
    background: #ff0000;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    cursor: pointer;
    transition: .3s;
    outline: none;
}

.cross:hover {
    transition: .3s;
    transform: rotate(180deg);
}

.text-modal {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 15px;
}

.modal-heading {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.gold {
    position: relative;
}
.gold:before {
    position: absolute;
    background-image: url(photo/gold.png);
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: -25px;
    top: 2px;
}
.silver {
    position: relative;
}
.silver:before {
    position: absolute;
    background-image: url(photo/silver.png);
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: -25px;
    top: 2px;
}
.bronze {
    position: relative;
}
.bronze:before {
    position: absolute;
    background-image: url(photo/bronze.png);
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: -25px;
    top: 1px;
}



@media all and (max-width: 1280px) {
.main-info {
    width: 1000px;
    margin-right: 0;
    margin: 10px;
}
.countries {
    margin: 10px;
    margin-right: 50px;
}
.countdown-container {
    margin: 10px;
    margin-left: 50px;
}
h1 {
    font-size: 45px;
}
.headingChanged {
    font-size: 40px;
}
}

@media all and (max-width: 1024px) {
.main-info {
    width: 950px;
    margin-right: 0;
    margin: 10px;
}
.countries {
    margin: 10px;
    margin-right: 50px;
}
.countdown-container {
    margin: 10px;
    margin-left: 50px;
}
h1 {
    font-size: 40px;
}
.headingChanged {
    font-size: 30px;
}
}

@media all and (max-width: 768px) {
.main-info {
    width: 700px;
    margin-right: 0;
    margin: 10px;
}
.countries {
    margin: 10px;
}
.countdown-container {
    margin: 10px;
}
h1 {
    font-size: 32px;
}
.headingChanged {
    font-size: 25px;
}
}


@media all and (max-width: 480px) {
.main-info {
    width: 380px;
    margin-right: 0;
    margin: 10px;
}
.countries {
    margin: 10px;
}
.countdown-container {
    margin: 10px;
}
h1 {
    font-size: 25px;
}
.headingChanged {
    font-size: 18px;
}
.text {
    line-height: 110%;
    font-size:15px;
}
.push {
    font-size: 16px;
}

.photographer {
    margin-top: 0;
}
}


@media all and (min-width: 320px) {
    .flags {
    margin: 10px;
}
h5:after {
    right: 7px ;
}
}