* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;    
}

/* ЗАГОЛОВОК ГЛАВНЫЙ*/
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;

    background-image: url(photo/navigation-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;

    z-index: 100;
    width: 100%;
}
.heading_fixed {
    position: fixed;
    left: 0;
    top: 0;
}
.logo {
    width: 70px;
    height: 100px;
    margin: 5px;
}
.logo-a:focus {
    box-shadow: 0 0 20px 0.25px rgb(176, 208, 212);
    outline: none;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    color: rgb(56, 55, 55);
    padding: 5px;
}
.headingChanged {
    text-align: center;
    font-size: 50px;
    color: crimson;
}

/*КОНТЕЙНЕРЫ*/
header {
    height: 120px;  
}
main {
    min-height: calc(100% - 240px);
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    background-image: url(photo/waves.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(240, 240, 240);
}

footer {
    height: 120px;
    display: flex;
    flex-direction: column;
}
.main-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-image: url(photo/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 550px;
    height: 475px;
    padding: 10px;
    margin: 3px;
    margin-right: -3px;
} 
.countries {
    background-color: rgb(65, 64, 64);
    width: 330px;
    height: 475px;
    text-align: center;
    margin: 3px;
}
.countdown-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 330px;
    height: 475px;
    margin: 3px;
    background-color: rgb(65, 64, 64);
}


/*ДРУГИЕ ЗАГОЛОВКИ*/
h3, h4, h5 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 30px;
}
h5 {
    position: relative;
}

h5:after {
    position: absolute;
    background-image: url(photo/down.png);
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    right: 15px ;

    animation: shakeY; 
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

/*СЕКЦИИЯ MAIN-INFO*/
.dates, .introduction, .countries  {
    border-bottom: 2px solid gray;
    margin-left: 10px;
}
.hymn {
    display: flex;
    justify-content: flex-start;
    padding: 15px;
}
.myButton {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 0px;
    
    box-shadow: 0 0 0 rgba(53, 181, 204, 0.4);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(53, 181, 204, 0.4);
        box-shadow: 0 0 0 0 rgba(53, 181, 204, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 10px 30px rgba(53, 181, 204, 0);
        box-shadow: 0 0 10px 30px rgba(53, 181, 204, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(53, 181, 204, 0);
        box-shadow: 0 0 0 0 rgba(53, 181, 204, 0);
    }
}
.myButton:hover {
    cursor: pointer;
    animation: none;
    transform: scale(1.1);
    transition: all 0.5s;
    box-shadow: 0 0 3px 3px rgba(53, 181, 204, 0.925);
}
.push {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 18px;
    margin-top: 0px;
    margin-left: 30px;
}

.text {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    line-height: 110%;
    font-size:18px;
}
.text-dates {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(53, 181, 204);
    font-size:22px;
    font-weight: bold;
}
.photographer {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 10px;
    margin-left: 0px;
    margin-top: 40px;
}

/*COUNTRIES*/

.flag-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flags {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 7px;
    position: relative;
    z-index:2;
    width: 50px;
    height: 90px;

    background-color:rgb(65, 64, 64);
}
.flags:after {
    z-index:2;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index:1;
    width: 100%;
    height: 100%;
    transition: opacity 2s;
    opacity:0;
    background: linear-gradient(45deg, rgb(65, 64, 64), silver,rgb(124, 186, 197), silver,  rgb(65, 64, 64));
}
.flags:hover:after{
    opacity:1;
    cursor: pointer;
}
.flags:focus {
    box-shadow: 0 0 5px 5px rgb(53, 181, 204);
    outline: none;
}

.flag-photo {
    height: 30px;
    width: 30px;
    z-index:3;
}
.flag-photo:hover {
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}
.flag-country {
    font-size: 15px;
    color: white;
    z-index:3;
}
.flag-country:hover {
    cursor: pointer;
    color: rgb(34, 95, 165);
    transition: 1s;
    font-weight: bold;
}


/*САМ СЧЕТЧИК*/
.count {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.time {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 14px;
    margin-top: 2px;
}
.hockey {
    background-color: rgb(122, 122, 122);
    margin: 2px;
    height: 90px ;
    width: 70px;
}
.days, .hours, .minutes, .seconds {
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}

/*ПОДВАЛ*/
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid gray;
    height: 45px;
}
.nets {
    margin: 5px 10px 5px 10px;
}

.fb {
    width: 40px; 
    height: 40px;
    background: url('photo/fb.ico') 0 0 no-repeat;
}
.fb:hover {
    transition: all 1.5s;
    width: 40px; 
    height: 40px;
    background: url('photo/fb_color.ico') 0 0 no-repeat;
}
.fb:focus {
    box-shadow: 0 0 20px 0.25px #3b5998;
    outline: none;
}
.insta {
    width: 40px; 
    height: 40px;
    background: url('photo/insta.ico') 0 0 no-repeat;
}
.insta:hover {
    transition: all 1.5s;
    width: 40px; 
    height: 40px;
    background: url('photo/insta_color.ico') 0 0 no-repeat;
}
.insta:focus {
    box-shadow: 0 0 20px 0.25px #C13584;
    outline: none;
}
.yt {
    width: 40px; 
    height: 40px;
    background: url('photo/youtube.ico') 0 0 no-repeat;
}
.yt:hover {
    transition: all 1.5s;
    width: 40px; 
    height: 40px;
    background: url('photo/yt_color.ico') 0 0 no-repeat;
}
.yt:focus {
    box-shadow: 0 0 20px 0.25px  #c4302b;
    outline: none;
}

.BBD {
    flex-grow: 1;
    background-color: rgb(65, 64, 64);
    height: 75px;
}
.txt {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 7px;
}
.developer {
    display: flex;
    justify-content: flex-start;
}
.BBDlogo {
    width: 40px;
    height: 40px;
}
.BBDlogo-a {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: -5px;
}
.BBDlogo-a:focus {
    box-shadow: 0 0 5px 5px #bfd9d7;
    outline: none;
}
.companyName {
    text-decoration: none;
    padding-right: 4px;
}
.companyName:hover, .companyName:active {
    color: #bfd9d7;
    transition: all 0.25s;
}
.companyNameLink {
    margin-left: 10px;
    margin-top: -2px;
}
.companyNameLink:focus {
    box-shadow: 0 0 5px 5px rgb(122, 122, 122);
    outline: none;
}


/*МОДАЛЬНЫЕ ОКНА*/

/* "modal" — это затемненный фон */
.modal-can {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-rus {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-ger {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-fin {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-usa {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-cze {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-swe {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-sui {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-svk {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-den {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-kaz {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-ita {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-gbr {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}
.modal-blr {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;  /*Z-index - нужен для того, чтобы расположить окно над всеми элементами.*/
    background: rgba(0, 0, 0, 0.9);
}

/* "modal-content" - область контента */
.modal-content {
    /* width: 100%; */
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 500px;
    padding: 50px;
    background: #f9f9f9;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 5px 15px black;
}

/* этот стиль через JavaScript прописан, срабатывает при нажатии на кнопку */
.modalStyle {
    position: fixed;
    top: 0;
    visibility: visible;
    opacity: 1;
    transition: .9s;
}

/* крестик закрытия окна */
.cross {
    background: #ff0000;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    cursor: pointer;
    transition: .3s;
    outline: none;
}

.cross:hover {
    transition: .3s;
    transform: rotate(180deg);
}

.text-modal {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 15px;
}

.modal-heading {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.gold {
    position: relative;
}
.gold:before {
    position: absolute;
    background-image: url(photo/gold.ico);
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: -25px;
    top: 2px;
}
.silver {
    position: relative;
}
.silver:before {
    position: absolute;
    background-image: url(photo/silver.ico);
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: -25px;
    top: 2px;
}
.bronze {
    position: relative;
}
.bronze:before {
    position: absolute;
    background-image: url(photo/bronze.ico);
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: -25px;
    top: 1px;
}



@media all and (max-width: 1280px) {
.main-info {
    width: 1000px;
    margin-right: 0;
    margin: 10px;
}
.countries {
    margin: 10px;
    margin-right: 50px;
}
.countdown-container {
    margin: 10px;
    /* margin-left: 50px; */
}
h1 {
    font-size: 45px;
}
.headingChanged {
    font-size: 40px;
}
}

@media all and (max-width: 1024px) {
.main-info {
    width: 950px;
    margin-right: 0;
    margin: 10px;
}
.countries {
    margin: 10px;
    margin-right: 50px;
}
.countdown-container {
    margin: 10px;
    /* margin-left: 50px; */
}
h1 {
    font-size: 40px;
}
.headingChanged {
    font-size: 30px;
}
}

@media all and (max-width: 768px) {
.main-info {
    width: 700px;
    margin-right: 0;
    margin: 10px;
}
.countries {
    margin: 10px;
}
.countdown-container {
    margin: 10px;
}
h1 {
    font-size: 32px;
}
.headingChanged {
    font-size: 25px;
}
}


@media all and (max-width: 480px) {
.main-info {
    width: 380px;
    margin-right: 0;
    margin: 10px;
}
.countries {
    margin: 10px;
}
.countdown-container {
    margin: 10px;
}
h1 {
    font-size: 25px;
}
.headingChanged {
    font-size: 18px;
}
.text {
    line-height: 110%;
    font-size:15px;
}
.push {
    font-size: 16px;
}
.photographer {
    margin-top: 0;
}

.countdown-container {
    height: 280px;
    padding: 3px;
}
.time {
    margin-top: 30px;
}
}


@media all and (max-width: 340px) {
.flags {
margin: 5px;
}
h5:after {
    right: 7px ;
}
.flags {
    width: 45px;
    height: 85px;
}
.countdown-container {
    height: 280px;
    padding: 3px;
}
.time {
    font-size: 12px;
    margin-top: 30px;
}
.hockey {
    margin: 2px;
    height: 80px ;
    width: 60px;
}
.days, .hours, .minutes, .seconds {
    font-size: 20px;
}
}